NODE_ENV=development
FRONTEND_SECRET_KEY=123456
IDENTITY_SERVICES_URL=http://localhost:3001
FEATURE_SERVICES_URL=http://localhost:3002
SOCKET_SERVICES_URL=http://localhost:3003
EXTERNAL_SERVICES_URL=http://localhost:3004